/*----------------- PAGE -----------------*/

body{
  background-color: #F9F9F9;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
}

.navbar, footer{
  background-color : #FDCF56;
  margin : 0px;
  min-height: 40px;
  color : white;
  border-radius: 0px;
  font-weight: bold;
}

h1, .h1{
  margin : 0px;
  padding : 5px 50px 0px;
  font-family: 'Devonshire', cursive;
  font-size: 45px;
}

section{ 
  margin : 60px;
  min-height: 300px;
}

.container .jumbotron{
  padding : 40px;
}

li{
  padding : 2px;
}



/*----------------- TEST -----------------*/

#test{
  min-height: 110px;
}

label{
  font-size: 20px;
}

.btn.disabled:hover{
  cursor : default;
}

.form-control[disabled]{
  background-color : #FFFFFF;
}

#correction{
  font-size: 30px;
  color : #D9534F;
}

#correction.glyphicon-ok{
   color : green;
}

#passe{
  margin-top: 40px;
}

#passe .glyphicon-remove{
  margin-top : 4px; 
  float : left;
}

.badge{
  margin-right : 4px;
  border-radius: 3px;
  margin-top : -3px;
  background-color: #F3F3F3;
}

.progress{
  height : 10px;
  margin-bottom: 60px;
}

#resultat{
  margin-top : -15px;
}

#compteurKo{
  color : #D9534F;
}

#compteurOk{
  color : green;
}