/*----------------- PAGE -----------------*/
html{
  height : 100%;
}
body{
  background-color: #F9F9F9;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  height : 100%;
}

.wrapper{
  min-height : 100%;
 margin-bottom: -65px;
}

.wrapper:after{
  content:'';
  display:block;
  height : 65px;
}

.navbar, footer{
  background-color : #FDCF56;
  margin : 0px;
  color : white;
  border-radius: 0px;
  font-weight: bold;
  box-shadow: 0px 2px 20px #d2d2d2;
}

footer{
  width : 100%;
  height : 65px;
}

.nav{
  margin-top: 40px;
}

a, a:hover{
  text-decoration: none;
  color : white;
}

h1, .h1{
  margin : 0px;
  padding : 5px 50px 0px;
  font-family: 'Devonshire', cursive;
  font-size: 50px;
}

h3, .h3{
  font-size : 22px;
}

section{ 
  margin : 50px;
}

.container .jumbotron{
  padding : 60px;
}

li{
  padding : 2px;
}

.form-control, .btn{
  font-size : 16px;
  height : 39px;
}
/*----------------Options test ------------*/

#options label{
  font-weight: normal;
}

#repetition{
  width : 40px;
  padding: 0px 0px 0px 5px;
  margin-left : 2px;
}

#langues{
  width : 150px;
  margin: 10px 2px;
  padding : 0px 5px;
}

#options-window .btn{
  margin-top: 30px;
}

/*----------------- TEST -----------------*/
#test-window, #resultat-window{
  display : none;
}

#test label{
  font-size: 24px;
}

.btn[disabled], .form-control[disabled]{
  cursor : default;
}

.form-control[disabled]{
  background-color : #FFFFFF;
}

#correction{
  font-size: 35px;
}

#passe{
  margin-top: 40px;
}

#passe .glyphicon-remove{
  margin-top : 4px; 
  float : left;
  color : white;
}

.badge{
  margin-right : 4px;
  border-radius: 3px;
  margin-top : -3px;
  background-color: #F3F3F3;
  font-size: 14px;
}

.progress{
  height : 15px;
  margin-bottom: 60px;
}

#resultat{
  margin-top : -15px;
}

/*----------------- Resultats -----------------*/
.bon, .glyphicon-ok{
  color : green;
}

.moyen{
  color : orange;
}

.mauvais, .glyphicon-remove{
  color : #D9534F;
}

#resultat-window p {
  margin : 0;

}

th, td{
  padding : 5px 5px 5px 30px;
  vertical-align: top;
}

td{
  border-left: 1px solid #d2d2d2;  
}

#resultat-window h2{
  margin-bottom: 40px;
}

#resultat-window h3{
  font-weight: bold;
  margin-top: 0px;
}


#resultat-window .jumbotron{
  padding : 10px;
  margin-top: 30px;
}
