/*----------------- GENERAL-----------------*/
html{
  height : 100%;
}

body{
  background-color: #f9f9f9;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  height : 100%;
}

.wrapper{
  min-height : 100%;
  margin-bottom: -105px;
}

.wrapper:after{
  content:'';
  display:block;
  height : 65px;
}

/******Navigation & Footer*******/

.nav-brand, .nav-brand:hover, .nav-brand:focus, .nav-brand:visited{
  color : white;
  cursor : pointer;
}

.navbar-nav>li>a, .navbar-nav>li>a:hover, .navbar-nav>li>a:focus, .navbar-nav>li>a:visited{
  padding : 15px 25px;  
  color : white;
  background-color: rgba(0,0,0,0);
}

.navbar-nav>li>a:hover{
  background-color: #F7BD51;
}

.nav{
  float:right;
}

@media (max-width: 767px){
  .nav {
      width: 100%;
      float:left;
      margin : 7px 0px;
  }

  .navbar .container{
    padding: 0px;
  }
}

.navbar-toggle{
  font-size : 25px;
  margin : 3px;
  padding : 3px 5px;
}

.navbar, footer{ 
  background-color : #FCD751;
  margin : 0px;
  color : white;
  border-radius: 0px;
  box-shadow: 0px 2px 30px rgba(0,0,0,0.3);
  border:none;
  z-index:1000;
}

footer{
  width : 100%;
  height : 65px;
  margin-top: 40px;
}

/************pages*************/
.page{
  background-color: white;
  border-radius: 6px;
}

.page h2{
  display : inline-block;
}

.page-header{  
  padding : 20px 60px;
  background-color: #AC9579;
  border-radius: 6px 6px 0 0; 
  border-bottom: none;
  color : white;
  min-height: 90px;
}

.page-content{
  padding : 20px 60px 40px;
}

/********** Balises générales*************/

section{
  margin-bottom: 60px;
}

article{
  padding:40px 10px 0px 10px;
  margin-bottom: 30px;
}

h1, .h1{
  margin : 0px;
  font-family: 'Devonshire', cursive;
  font-size: 45px;
  text-transform: capitalize;
}

h2, .h2{
  margin-top: 10px;
}

h3, .h3{
  font-size : 22px;
}

a, a:visited, a:focus{
  text-decoration: none;  
  cursor : pointer;
  color:black;
}

a:hover{
  color:#868686;
  text-decoration: none;  
}

ul{
  list-style: none;
  padding:0;
}

label{
  font-weight: normal;
  margin-bottom: 0px;
}

img{
  width:auto;
}

/********Classes générales*********/

@media (min-width: 1200px){
  .container {
      width: 1000px;
  }
}

.container .jumbotron{
  padding-top: 80px;
  background-color: rgba(238,238,238,0.5);
}

.form-control, .btn{
  font-size : 16px;
}

.btn{
  font-size : 16px;
  height : 39px;
  min-width: 100px;
  margin: 10px 5px;
}

.buttons{
  float:right;
}

.buttons .glyphicon{
  opacity : 0.85;
  cursor: pointer;
  margin : 0 10px;
}

.buttons .glyphicon:hover{
  opacity : 1;
}

.yellow, .yellow:hover{
  color:#FCD751;
  font-weight: bold;
}

.error-message{
  color : #D9534F;
  font-size : 17px;
  margin-bottom: -5px;
}

.has-error{
  border-color:rgba(217,83,79,0.6);
  box-shadow :0px 0px 5px rgba(217,83,79,0.6);
}

.has-success{
  border-color:rgba(0,128,0,0.6);
  box-shadow :0px 0px 5px rgba(0,128,0,0.6);
}

/********Modal*********/

.modal-dialog{
  margin-top: 10%;
  width : 500px;
}

.modal .glyphicon-remove{
  color : grey;
  position : absolute;
  top : -10px;
  right:-5px;
}

.modal-content{
  background-color: rgba(249,249,249,0.97);
  padding : 20px 20px 20px 20px;
}

/*****Tableaux*******/

.table{
  margin-bottom: 60px;
}

.table>thead>tr>th{
  background-color: rgba(249,249,249,0.97);
  padding-left: 20px;
  border : none;
}

.table>tbody>tr>td{
  border:none;
  padding : 8px 20px;
}

/*---------------- Accueil-----------------*/
.head{
  padding : 0px;
  height : 600px;
  overflow:hidden;
}

.connexion-inscription{
  position:absolute;
  top : 20px;
  right:20px;
  width:425px;
  background-color: rgba(249,249,249,0.97);
  padding : 20px 20px 40px 20px;
  margin-right:40px;
  border-radius: 5px;
}

@media (max-width: 767px){
  .connexion-inscription {
      width: 90%;
      right:5%;
      margin:0;
  }
}

.deconnexion, .inscription{
  display:none;
}

/*----------------Profil----------*/
.avatar{
  width : 90px;
  margin-right: 10px;
  display : inline-block;
  vertical-align: top;
  border-radius: 6px;
}

.infos-profil{
  width : 70%;
  display : inline-block;
  vertical-align: top;
  padding : 10px;
}

.profil .page-content >.btn{
  margin : 0px;
}

.profil .language-list{
  margin : 20px 0px; 
}

.profil .accordion-link, .profil .accordion-link:visited,.profil .accordion-link:hover,.profil .accordion-link:focus{
  color : black;
  text-transform: capitalize;
}

.profil .panel-heading{
  background-color: rgba(249,249,249,0.97);
  border-bottom: 1px solid #EFEFEF;
}

.profil .panel-heading .flag{
  width : 30px;
  margin-right: 10px;
}

.profil .panel-body{
  padding : 5px 20px;
}

.profil .panel-heading .buttons .glyphicon{
  color : #d2d2d2;
}

.profil #autre-langue{
  margin-top: 10px;
}

/*-------------------------liste----------------*/
.score-list{
  margin: 15px 20px;
  font-size: 20px;
}

.score-list #score, .score-list #time{
  margin : 0px 10px;
}

.list .page-header .buttons{
  font-size: 25px; 
  margin-top: 12px;
}

.list .buttons .glyphicon{
  color : white;
}

.list .page-content table>thead>tr>th{
  width : 49.9%;
}

.list .page-content table>tbody>tr{
  opacity : 0.6;
}

.list .tr-remove{
  padding : 0px 0 0 5px;
  background-color: white;
}

.list .glyphicon-remove{
  margin-top : 13px;
  cursor : pointer;
  color :rgba(210,210,210,0.8);
}

.list .glyphicon-remove:hover{
  color :rgba(210,210,210,1);
}

.list .btn-sauvegarde{
  float:right;
}

.list #options{
  padding : 20px;
  margin : 10px 0;
}

.list .btn-test{
  float:right;
  margin : 0;
  position : relative;
  top:-2px;
}

.list #options input, .list #options select{
  margin-right: 30px;
  padding: 0px 0px 0px 5px;
}

/*----------------- TEST -----------------*/
.test .page-content{
  margin: 40px 0 20px;
}

#motTest{
  font-size: 24px;
  font-weight: 700;
}

#inputReponse{
  height:39px;
}

.btn[disabled], .form-control[disabled]{
  cursor : default;
}

.form-control[disabled]{
  background-color : #FFFFFF;
}

#correction{
  font-size: 35px;
}

#valider{
  margin : 0;
}

#passe{
  margin-top: 40px;
}

#passe .glyphicon-remove{
  margin-top : 4px; 
  float : left;
  color : white;
}

.badge{
  margin-right : 4px;
  border-radius: 3px;
  margin-top : -3px;
  background-color: #F3F3F3;
  font-size: 14px;
}

.progress{
  height : 15px;
  margin-bottom: 60px;
}

#resultat{
  margin-top : -15px;
}

/*----------------- Resultats -----------------*/

.bon, .glyphicon-ok{
  color : green;
}

.moyen{
  color : #FCD751;
}

.mauvais, .glyphicon-remove{
  color : #D9534F;
}
